@use '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.library-page-content {
  @include page-section;
}

.library-page-content .heading-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: variables.$size-5;
}

.library-page-content .subheading {
  font-size: variables.$body-large;
  font-weight: variables.$font-weight-medium;
}

.library-page-content .controls {
  padding-top: variables.$size-7a;
}
