@use '../../styles/variables';

.not-found-page {
  display: flex;
  flex-direction: column;
  gap: variables.$size-2;
  align-items: center;
  justify-content: center;
  padding: variables.$size-3;
}
