@use '../../../styles/variables';
@use '../../../styles/breakpoints';
@import '../../../styles/mixins';

.new-games-section {
  @include page-section;

  display: flex;
  flex-direction: column;
  gap: variables.$size-5;
}

@media screen and (max-width: breakpoints.$tablet) {
  .new-games-section {
    gap: variables.$size-3;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .new-games-section {
    gap: variables.$size-2;

    .carousel-buttons {
      display: none;
    }
  }
}
