@use '../../../styles/variables';
@use '../../../styles/breakpoints';

.new-games-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 120px;
}

@media screen and (max-width: breakpoints.$tablet) {
  .new-games-section {
    padding: 24px 40px;
    gap: 24px;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .new-games-section {
    padding: 16px;
    gap: 16px;

    .carousel-buttons {
      display: none;
    }

    h2 {
      font-size: variables.$headline-medium;
    }
  }
}
