@use '../../../../styles/variables';
@use '../../../../styles/breakpoints';

.carousel {
  padding: 0 8px;
}

.new-games-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-buttons {
  display: flex;
  gap: 16px;
}

.cards-container {
  display: grid;
  grid-template-columns:
    minmax(0px, 120px) minmax(56px, 288px) minmax(218px, 816px) minmax(56px, 288px)
    minmax(0px, 120px);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  overflow-x: hidden;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 388px;
  background-size: cover;
  border: solid 2.5px variables.$on-primary;
  border-radius: variables.$corner-extra-large;
  box-shadow: variables.$shadow-level-1;
  overflow: hidden;
}

.carousel-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  line-height: 20px;
  box-shadow: variables.$gradient-darkener-80;
}

.carousel-card-content .name {
  color: variables.$white;
  font-size: variables.$body-large;
  font-weight: variables.$font-weight-bold;
}

.carousel-card-content .additional-info {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: breakpoints.$tablet) {
  .carousel {
    padding: 0;
  }

  .cards-container {
    grid-template-columns: 0 minmax(56px, 288px) minmax(218px, 816px) minmax(56px, 288px) 0;
  }

  .carousel-card {
    height: 280px;
  }

  .carousel-card-1,
  .carousel-card-5 {
    border: none;
  }

  .carousel-card-2,
  .carousel-card-4 {
    .name,
    .additional-info {
      display: none;
    }
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .cards-container {
    grid-template-columns: 0 minmax(56px, 288px) minmax(218px, 816px) minmax(56px, 288px) 0;
    grid-template-rows: repeat(1, 1fr);
    overflow: hidden;
  }

  .carousel-card {
    height: 200px;
  }
}
