@use '../../../styles/variables';
@use '../../../styles/breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  gap: variables.$size-11;
  padding: variables.$size-5 variables.$size-15;
  color: variables.$on-bg-footer;
  font-size: variables.$body-small;
  line-height: 150%;
  background-color: variables.$bg-footer;
}

.footer-content {
  display: flex;
  gap: variables.$size-10;
}

.section {
  display: flex;
  flex-direction: column;
}

.logo-section {
  flex-grow: 2;
  gap: variables.$size-3;
}

.logo-section-text {
  max-width: 400px;
}

.explore-section,
.company-section,
.community-section {
  gap: variables.$size-2;
  line-height: 17px;
}

.icons-container {
  display: flex;
  gap: variables.$size-2;
}

.icons-container img {
  width: variables.$size-5;
  height: variables.$size-5;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rss,
.student-data {
  display: flex;
  align-items: center;
  gap: variables.$size-1;
}

@media screen and (max-width: breakpoints.$tablet) {
  .footer {
    gap: variables.$size-7;
    padding: variables.$size-5;

    .icons-container img {
      width: variables.$size-4;
      height: variables.$size-4;
    }
  }

  .footer-content {
    gap: variables.$size-3;
    flex-wrap: wrap;
  }

  .logo-section {
    width: 100%;
  }

  .logo-section-text {
    min-width: 100%;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .footer {
    padding: variables.$size-4 variables.$size-2;
    gap: variables.$size-3;
  }

  .sub-footer {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: variables.$size-1a;
  }

  .all-rights {
    flex-shrink: 0;
    min-width: 100%;
  }

  .design {
    display: none;
  }
}
