@use 'variables';
@use 'breakpoints';

@mixin primary-secondary-button {
  padding: variables.$size-2 variables.$size-3;
  width: fit-content;
  font-size: variables.$body-large;
  font-weight: variables.$font-weight-bold;
  text-transform: capitalize;
  border: 2px solid variables.$on-primary;
  border-radius: variables.$corner-small;

  &:disabled {
    color: variables.$on-bg;
    border-color: variables.$on-bg;
  }

  @media screen and (max-width: breakpoints.$tablet) {
    padding: 10px 20px;
    font-size: variables.$body-small;
  }

  @media screen and (max-width: breakpoints.$mobile) {
    padding: variables.$size-1 variables.$size-2;
    font-size: variables.$body-xsmall;
  }
}

@mixin icon-button {
  width: variables.$size-6;
  height: variables.$size-6;
  line-height: variables.$size-5;
  border: 2px solid variables.$on-primary;
  border-radius: variables.$corner-extra-large;
  background-color: variables.$white;

  &:disabled {
    color: variables.$outline-variant;
    background-color: variables.$bg;
    border-color: variables.$outline-variant;
    cursor: default;
  }

  &.active {
    color: variables.$white;
    background-color: variables.$bg-footer-low;
  }

  @media screen and (max-width: breakpoints.$tablet) {
    width: variables.$size-5;
    height: variables.$size-5;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled, .active) {
      background-color: variables.$surface;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: variables.$size-1;
  font-family: variables.$font-family-inter;
  color: variables.$on-primary;
  transition: color, background-color, border-color, 0.3s;
  cursor: pointer;
  outline: none;

  &:disabled,
  &.active {
    cursor: default;
  }

  img {
    width: variables.$size-3;
    height: variables.$size-3;
  }
}

.button.primary {
  @include primary-secondary-button;

  background-color: variables.$primary;

  &:disabled {
    background-color: variables.$outline-variant;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      background-color: variables.$primary-high;
    }
  }
}

.button.secondary {
  @include primary-secondary-button;

  background-color: variables.$white;

  &:disabled {
    background-color: variables.$outline;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      background-color: variables.$surface;
    }
  }
}

.button.small {
  padding: 10px 20px;
  height: 37px;
  font-size: variables.$body-small;
}

.button-carousel {
  @include icon-button;
}

.button-pagination {
  @include icon-button;

  width: variables.$size-5;
  height: variables.$size-5;
  font-weight: variables.$font-weight-bold;
}

@media screen and (max-width: breakpoints.$tablet) {
  .button.small {
    padding: variables.$size-1 variables.$size-2;
    height: 33px;
  }

  .button img {
    width: variables.$size-2;
    height: variables.$size-2;
  }
}
