@use '../styles/variables';
@use '../styles/breakpoints';

@mixin dialog-backdrop {
  display: block;
  width: 100vw;
  height: 100vh;
  background: variables.$darkener-65;
  backdrop-filter: blur(variables.$size-05);
}

@mixin page-section {
  padding: variables.$size-5 variables.$size-15;

  @media screen and (max-width: breakpoints.$tablet) {
    padding: variables.$size-3 variables.$size-5;
  }

  @media screen and (max-width: breakpoints.$mobile) {
    padding: variables.$size-2;
  }
}
