@use '../../../variables';

.header {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 80px;
  height: 85px;
  border-bottom: 2px solid variables.$on-primary;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.navigation-list {
  display: flex;
  gap: 40px;
  font-size: variables.$body-medium;
  font-weight: variables.$font-weight-medium;
}

.buttons-container {
  display: flex;
  gap: 16px;
}

a.active {
  font-weight: variables.$font-weight-bold;
  color: variables.$on-primary;
  cursor: default;
}

.burger-icon {
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: variables.$on-primary;
  border: 2px solid variables.$on-primary;
  border-radius: variables.$corner-small;
  transition: background-color, border-color, 0.3s;
  cursor: pointer;
  display: none;
}

.burger-line {
  width: 16px;
  height: 2px;
  background-color: variables.$on-primary;
  transition: background-color 0.3s;

  &::before,
  &::after {
    position: relative;
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: variables.$on-primary;
    transition:
      background-color,
      rotate 0.3s;
  }

  &::before {
    top: -4px;
  }

  &::after {
    bottom: -2px;
  }
}

.burger-icon.opened {
  border-color: variables.$bg-footer-low;
  background-color: variables.$bg-footer-low;

  .burger-line {
    background-color: transparent;

    &::before {
      top: 1px;
      background-color: variables.$white;
      rotate: 45deg;
    }

    &::after {
      bottom: 0;
      background-color: variables.$white;
      rotate: -45deg;
    }
  }
}

@media screen and (max-width: 1439px) {
  .header {
    padding: 0 40px;
    height: 72px;
  }

  .nav {
    display: none;
  }

  .buttons-container {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .button.login {
    display: none;
  }

  .burger-icon {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  .button.signup {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .burger-icon:hover {
    background-color: variables.$surface;
  }

  .burger-icon.opened:hover {
    background-color: variables.$bg-footer-lowest;
    border-color: variables.$primary;
  }
}
