@use '../../../../../variables';

.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 388px;
  background-size: cover;
  border: solid 2.5px variables.$on-primary;
  border-radius: variables.$corner-extra-large;
  box-shadow: variables.$shadow-level-1;
  overflow: hidden;
}

.new-games-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-buttons {
  display: flex;
  gap: 16px;
}

.carousel-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  line-height: 20px;
  box-shadow: inset 8px -100px 39px -32px rgba(0, 0, 0, 0.8);
}

.carousel-card-content .name {
  color: variables.$white;
  font-size: variables.$body-large;
  font-weight: variables.$font-weight-bold;
}

.carousel-card-content .additional-info {
  display: flex;
  justify-content: space-between;
}
