@use '../../../variables';

.leaderboard-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 120px;
}

.leaderboard-table-container {
  border: 2.5px solid variables.$on-primary;
  border-radius: variables.$corner-large;
  overflow: hidden;
  box-shadow: variables.$shadow-level-3;
}

.leaderboard-table {
  width: 100%;
  height: 428px;
  box-shadow: variables.$shadow-level-2;
  border-collapse: collapse;
}

.leaderboard-table .leaderboard-table-head tr {
  background-color: variables.$tertiary;
  border-collapse: collapse;
  border-bottom: 1.5px solid variables.$on-primary;
}

.leaderboard-table-head th {
  padding: 24px 0;
  text-align: center;
}

.leaderboard-table tbody {
  overflow-x: scroll;

  tr:nth-child(even) {
    background-color: variables.$white;
  }

  td {
    padding: 0 8px;
    color: variables.$on-primary;
    font-family: variables.$font-family-roboto;
    font-size: variables.$body-medium;
    font-weight: variables.$font-weight-bold;
  }

  td:not(.player) {
    text-align: center;
  }

  tr {
    border-bottom: 1px solid variables.$outline;
  }

  .first {
    color: variables.$primary;
  }

  .initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1.5px solid variables.$on-primary;
    border-radius: variables.$corner-extra-large;
  }

  .initials-1 {
    background-color: variables.$avatar-random-1;
  }

  .initials-2 {
    background-color: variables.$avatar-random-2;
  }

  .initials-3 {
    background-color: variables.$avatar-random-3;
  }

  .initials-4 {
    background-color: variables.$avatar-random-4;
  }

  .initials-5 {
    background-color: variables.$avatar-random-5;
  }

  .player-name {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .favorite-game .text {
    padding: 4px 12px;
    font-size: variables.$body-xsmall;
    border: 1.5px solid variables.$on-primary;
    border-radius: variables.$corner-large;
  }
}

@media screen and (max-width: 1439px) {
  .favorite-game {
    display: none;
  }
}
