@use '../../../styles/variables';
@use '../../../styles/breakpoints';

.chips-container {
  display: flex;
  gap: variables.$size-2;
  flex-wrap: wrap;
  scrollbar-width: none;
}

.chip {
  display: flex;
  padding: variables.$size-05 variables.$size-2;
  font-size: variables.$label-large;
  font-weight: variables.$font-weight-bold;
  text-transform: capitalize;
  white-space: nowrap;
  color: variables.$on-primary;
  border: 2px solid variables.$on-primary;
  border-radius: variables.$corner-extra-large;
  cursor: pointer;
}

.chip.selected {
  background-color: variables.$primary;
  cursor: default;
}

@media screen and (max-width: breakpoints.$tablet) {
  .chips-container {
    gap: variables.$size-1;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .chip {
    font-size: variables.$label-medium;
  }
}

@media (hover: hover) and (pointer: fine) {
  .chip:hover {
    background-color: variables.$surface;
  }

  .chip.selected:hover {
    background-color: variables.$primary;
  }
}
