@use 'styles/buttons';
@use 'styles/breakpoints';
@use 'styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background-color: variables.$bg;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: variables.$font-family-inter;
  color: variables.$on-bg;
  font-size: variables.$body-large;
  font-weight: variables.$font-weight-medium;
  line-height: 150%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1 {
  color: variables.$on-primary;
  font-size: variables.$display-large;
  font-weight: variables.$font-weight-bold;
  line-height: 110%;
}

h2 {
  color: variables.$on-primary;
  font-size: variables.$headline-large;
  font-weight: variables.$font-weight-bold;
  text-transform: capitalize;
  line-height: 39px;
}

h3 {
  color: variables.$on-primary;
  font-size: variables.$headline-medium;
  font-weight: variables.$font-weight-bold;
  text-transform: capitalize;
}

h4 {
  font-family: variables.$font-family-roboto;
  color: variables.$white;
  font-size: variables.$body-medium;
  font-weight: variables.$font-weight-extra-bold;
  text-transform: uppercase;
  line-height: 16px;
}

h5 {
  color: variables.$white;
  font-size: variables.$body-medium;
  font-weight: variables.$font-weight-bold;
  text-transform: capitalize;
}

.heading.decorated {
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    box-sizing: border-box;
    content: '';
    display: block;
    width: 8px;
    height: 32px;
    background-color: variables.$primary;
    border: 1.5px solid variables.$on-primary;
    border-radius: variables.$corner-extra-small;
  }
}

@media screen and (max-width: breakpoints.$tablet) {
  body {
    font-size: variables.$body-small;
    line-height: 140%;
  }

  h1 {
    font-size: variables.$display-medium;
    line-height: 115%;
  }

  h2 {
    font-size: variables.$headline-medium;
  }

  h3 {
    font-size: variables.$headline-small;
  }

  h4 {
    font-size: variables.$body-small;
  }

  .heading.decorated {
    &::before {
      height: 24px;
    }
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  body {
    font-size: variables.$body-xsmall;
  }

  h1 {
    font-size: variables.$display-small;
    line-height: 120%;
  }

  h2 {
    font-size: variables.$headline-small;
  }

  h4 {
    font-size: variables.$headline-medium;
  }
}
