@use '../../../styles/variables';
@use '../../../styles/breakpoints';

.hero-section {
  padding: variables.$size-14 variables.$size-15;
  height: 627px;
  background-image: url('/images/hero-bg-l.jpg');
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: variables.$size-3;
  padding: variables.$size-6;
  max-width: 640px;
  background-color: variables.$bg;
  border: 3px solid variables.$on-primary;
  border-radius: variables.$corner-extra-large;
  box-shadow: variables.$shadow-level-3;
}

.hero-text {
  width: 500px;
}

@media screen and (max-width: breakpoints.$tablet) {
  .hero-section {
    padding: variables.$size-9 variables.$size-5;
    height: 384px;
    background-image: url('/images/hero-bg-m.jpg');
  }

  .hero-content {
    gap: variables.$size-2;
    padding: variables.$size-3;
    max-width: 480px;
    border: 2.5px solid variables.$on-primary;
    box-shadow: variables.$shadow-level-2;
  }

  .hero-text {
    width: 100%;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .hero-section {
    padding: variables.$size-8 variables.$size-2;
    height: fit-content;
  }

  .hero-content {
    border-radius: variables.$corner-medium;
    box-shadow: variables.$shadow-level-2;
  }

  .hero-text {
    width: 100%;
  }
}
