@use '../../../styles/variables';

.auth-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 356px;

  .auth-dialog-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    color: variables.$on-primary;
    font-size: variables.$headline-medium;
    font-weight: variables.$font-weight-bold;
  }
}

.auth-dialog-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;

  .button {
    width: 100%;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: variables.$body-xsmall;
    font-weight: variables.$font-weight-bold;
    text-transform: uppercase;

    &::before,
    &::after {
      display: block;
      content: '';
      height: 1px;
      flex-grow: 1;
      background-color: variables.$on-primary;
    }
  }
}
